<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <div class="header"><span class="subheader">Hi <%= username %>,</span><br> <span class="subheader"> Welcome back 🍿</span></div>
  <div class="container">
    <form>
      <h1><%= title %></h1>
      <p><%= description %></p>
      <a href="/">Home Page</a>
    </form>
  </div>
</body>

</html>